/*
* @Author: yafee
* @Date:   2016-11-09 14:24:13
* @Last Modified by:   yafee
* @Last Modified time: 2016-11-10 14:22:46
*/

html,
body,
div,
p,
img {
  margin: 0;
  padding: 0;
}

.marginCenter {
  margin: 0 auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Microsoft Yahei', 'Luxi Sans', 'DejaVu Sans', Tahoma, 'Hiragino Sans GB', STHeiti, SimSun;
  background: #fefefe;
}


/*第一屏*/

.sectionOne {
  background-image: -moz-linear-gradient( 12deg, rgb(155, 121, 250) 0%, rgb(209, 109, 247) 100%);
  background-image: -webkit-linear-gradient( 12deg, rgb(155, 121, 250) 0%, rgb(209, 109, 247) 100%);
  background-image: -ms-linear-gradient( 12deg, rgb(155, 121, 250) 0%, rgb(209, 109, 247) 100%);
}

.cloudBig {
  top: 14%;
  left: 6%;
}

.cloudSmall {
  top: 40%;
  left: 18%;
}

.cloudMiddle {
  top: 23%;
  right: 10%;
}

.shanpo {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.sectionOneText {
  width: 40%;
  height: 100%;
}

.sectionOneTitle {
  font-size: 4.8rem;
  color: #fff;
  font-weight: bold;
  padding-top: 6rem;
}

.appVersion {
  padding-top: 2rem;
  color: #f6ef3e;
  font-size: 6rem;
}

.codeQR {
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.iPhoneQR,
.androidQR {
  padding: 0;
}

.iPhoneDownload,
.androidDownload {
  width: 15rem;
  display: block;
  margin-top: 1.5rem;
}

.sectionOneSubhead {
  color: #fff;
  font-size: 2.4rem;
  padding-top: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .sectionOneText {
    width: 60%;
  }
  .cloudBig {
    left: 4%;
  }
  .cloudSmall {
    left: 14%;
  }
  .cloudMiddle {
    right: 8%;
  }
}

@media screen and (max-width: 768px) {
  .sectionOneText {
    width: 70%;
  }
  .sectionOneTitle {
    padding-top: 12rem;
  }
  .appVersion {
    padding-top: 4rem;
  }
  .codeQR {
    margin-top: 5rem;
  }
  .iPhoneDownload,
  .androidDownload {
    margin-top: 3rem;
  }
  .sectionOneSubhead {
    padding-top: 5rem;
  }
  .cloudBig,
  .cloudSmall,
  .cloudMiddle {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
  }
  .cloudBig {
    left: 1%;
  }
  .cloudSmall {
    left: 8%;
  }
  .cloudMiddle {
    right: 3%;
  }
}
/*手机*/
@media screen and (max-width: 600px) {
  .cloudSmall{
  	top: 3rem;
  	left: 25%;
  }
  .cloudBig{
  	left: 1.2rem;
  	top: 13rem;
  }
  .cloudBig,
  .cloudSmall,
  .cloudMiddle {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
  }
  .codeQR{
  	display: none;
  }
}


/*第2,3,4,5,6屏公有*/

.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive,
.sectionSix {
  width: 100%;
  height: 100%;
}

.sectionText,
.sectionImg {
  width: 50%;
  height: 40%;
}

.sectionTitle {
  color: #333;
  font-size: 5.5rem;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 3rem;
}

.sectionTitle>span {
  color: #f5a253;
  display: inline-block;
  font-size: 4.3rem;
  border: .1rem solid #f5a253;
  background: #fefefe;
  margin-right: 1rem;
}

.sectionSubhead {
  color: #999;
  font-size: 2.7rem;
}

.sectionImg>img {
  max-height: 100%;
  display: inline;
}


/*2,4,6屏公有*/

.sectionTwo,
.sectionFour,
.sectionSix {
  background: #fefefe;
  padding-left: 23%;
  padding-right: 17%;
}


/*3,5屏公有*/

.sectionThree,
.sectionFive {
  background: #e8e9ff;
  padding-left: 23%;
  padding-right: 20%;
  text-align: right;
  /*padding-top: 4rem;*/
}

.sectionFourText {
  padding-top: 2rem;
}

.sectionThreeText,
.sectionFiveText {
  padding-top: 3rem;
}


/*2屏*/

.sectionTwo {
  padding-left: 21%;
  padding-right: 13%;
}


/*5屏*/

.sectionFive {
  padding-left: 18%;
}


/*6屏立即下载*/
.sectionSixText {
  position: relative;
}

.download {
  position: absolute;
  right: 8rem;
  bottom: -1rem;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  border: none;
  border-radius: 1.5rem;
  background: #FD7C23;
  color: #fff;
}

button.download:focus {
  outline: none;
}


/*pad*/

@media screen and (max-width: 1024px) {
  .sectionTitle {
    font-size: 4.5rem;
  }
  .sectionTitle>span {
    font-size: 3.5rem;
  }
  .sectionSubhead {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .sectionTwo,
  .sectionThree,
  .sectionFour,
  .sectionFive,
  .sectionSix {
    padding-left: 12%;
    padding-right: 12%;
  }
  .sectionTitle{
  	margin-top: 0;
  }
  .sectionText,
  .sectionImg {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .sectionText{
  	padding-top: 0;
  }
  .fp-tableCell>div:first-child{
  	margin-bottom: 20%;
  }
  .sectionThree,
  .sectionFive {
    padding-top: 0;
  }
  .sectionThree .sectionImg {
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    -o-transform: translateX(3rem);
    transform: translateX(3rem);
  }
  .sectionSix .sectionImg {
    -webkit-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    -o-transform: translateX(-3rem);
    transform: translateX(-3rem);
  }
  .download{
  	position: static;
  	margin-top: 4rem;
  }
}


/*手机*/

@media screen and (max-width: 600px) {
  /*待写*/
}
